* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-family: "roboto", "poppins", sans-serif;
  background: #000;
  color: #e8e8e8;
}

main {
  height: 90vh;
  position: relative;
  overflow: hidden;
}

@media (min-width: 900px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% 1fr 1fr 5%;
        grid-template-columns: 5% 1fr 1fr 5%;
  }
}

main div {
  margin-bottom: 50px;
}

main .one {
  height: 100%;
  width: 100%;
  z-index: 4;
  position: absolute;
}

@media (min-width: 900px) {
  main .one {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main .one div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
}

@media (min-width: 900px) {
  main .one div {
    display: block;
    width: 100%;
  }
}

main .one h1 {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

main .one p {
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

@media (min-width: 900px) {
  main .one p {
    text-align: left;
    color: #e8e8e8;
  }
}

main .one button {
  padding: 15px 100px;
  background: #e8e8e8;
  color: #111;
  margin-top: 20px;
  font-family: "roboto";
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: none;
  border-radius: 2px;
  outline: none;
}

main .one button:hover {
  background: white;
}

main .two {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 900px) {
  main .two {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    position: relative;
  }
}

main .two .image {
  height: 98%;
  width: 100%;
  border-radius: 2px;
}

main .two .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .video {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
}

main .video video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  background: #111;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 4;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.menu div {
  height: 90%;
  width: 90%;
  margin: auto;
}

.menu h1 {
  opacity: 0;
}

.menu ul {
  height: 20%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  position: relative;
}

.menu ul li {
  position: relative;
}

.menu ul li a {
  color: #e8e8e8;
  text-decoration: none;
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  display: inline-block;
}

.menu h1 {
  margin-bottom: 50px;
}
/*# sourceMappingURL=index.css.map */